<div class="container">
  <h1>{{selectedRoom.roomtype}}</h1>

  <div style="margin-top: 30px;"><strong>roomtype: </strong> {{selectedRoom.roomtype}}</div>
  <div><strong>Date: </strong> {{selectedRoom.Date}}</div>
  <!-- <div><strong>Check-In-Time: </strong> {{selectedRoom.Check-In-Time}}</div>
  <div><strong>Check-Out-Time: </strong> {{selectedRoom.Check-Out-Time}}</div> -->
  <!-- <div><strong>Description: </strong> {{selectedRoom.Description}}</div>  -->
  <div><strong>Price: </strong> {{selectedRoom.Price}}</div>
  <!-- <div><strong>Free WiFi: </strong> {{selectedRoom.Free WiFi}}</div>
  <div><strong>Free Lunch: </strong> {{selectedRoom.Free Lunch}}</div>
  <div><strong>Room Service: </strong> {{selectedRoom.RoomService}}</div> -->
</div>
